<div class="container-fluid">
    <h1>courses</h1>

    {{#if currentUser.isTA}}
        <p>
            <a href="/courses/add" class="btn btn-primary btn-sm">add course</a>
        </p>
    {{/if}}

    <table class="table table-striped table-hover">
        <thead>
            <tr>
                <th scope="col">Name</th>
                <th scope="col">Actions</th>
            </tr>
        </thead>
        <tbody>
            {{#each courses}}
                <tr>
                    <td>
                        <a href="/course/{{_id}}">
                            {{title}}<br />
                            <span class="badge badge-secondary">{{students.length}}</span>
                        </a>
                    </td>
                    <td>
                        <a href="/courses/edit/{{_id}}" class="btn btn-primary btn-sm">Edit</a>

                        {{#if ../currentUser.isTA}}
                            <a href="/courses/delete/{{_id}}" class="btn btn-primary btn-sm">Delete</a>
                        {{/if}}
                    </td>
                </tr>
            {{/each}}
        </tbody>
    </table>
</div>
