<div class="container-fluid">
    <h1>{{#if course._id}}edit{{else}}add{{/if}} course</h1>

    <form id="form" action="/courses/{{#if course._id}}edit{{else}}add{{/if}}" method="POST">
    {{#with course}}
      <input type="hidden" name="courseId" value="{{_id}}">
      <div class="form-group">
        <label for="title">title</label><br>
        <input type="text" class="form-control" name="title"
          placeholder="add courses title"
          value="{{title}}">        
      </div>
      <div class="form-group">
        <label for="courseImg">course img</label><br>
        <input type="text" class="form-control" name="courseImg"
          placeholder="add URL for course img"
          value="{{courseImg}}">        
          
      </div>
      <div class="form-group">
        <label for="startDate">start date</label><br>
        <input type="text" class="form-control" name="startDate"
          placeholder="add startDate"
          value="{{startDate}}">        
      </div>

      <div class="form-group">
        <label for="endDate">end date</label><br>
        <input type="text" class="form-control" name="endDate"
          placeholder="add endDate"
          value="{{endDate}}">        
      </div>

      <div class="form-group">
        <label for="description">description</label><br>
        <input type="text" class="form-control" name="description"
          placeholder="add something about the course"
          value="{{description}}">
      </div>

      <div class="form-group">
        <label for="leadTeacher">lead teatcher</label><br>
        <input type="text" class="form-control" name="leadTeacher"
          placeholder="add LTs name"
          value="{{leadTeacher}}">
      </div>

      <div class="form-group">
        <label for="TAs">TAs</label><br>
        <input type="text" class="form-control" name="TAs"
          placeholder="add TAs name"
          value="{{TAs}}">
      </div>

      <div class="form-group">
        <label for="lat">latitude</label><br>
        <input type="text" class="form-control" name="lat"
          placeholder="add lat name"
          value="{{location.coordinates.[0]}}">
      </div>

      <div class="form-group">
        <label for="lng">longitude</label><br>
        <input type="text" class="form-control" name="lng"
          placeholder="add lng name"
          value="{{location.coordinates.[1]}}">
      </div>
      <div class="form-group">
      <label for="status">students</label><br>
      <select name="students" class="form-control" multiple>
      {{#each ../allStudents}}
        <option value="{{_id}}" {{#if enrolled}} selected {{/if}}>{{name}}</option>
      {{/each}}
      </select>
      </div>      

      <div class="form-group">
      <label for="status">status</label><br>
      <select name="status" class="form-control">
        <option value="ON" {{#if_equal status "ON"}} selected {{/if_equal}}>ON</option>
        <option value="OFF" {{#if_equal status "OFF"}} selected {{/if_equal}}>OFF</option>
      </select>
      </div>

      {{#if msgError}}
        <div class="alert alert-danger">{{ msgError }}</div>
      {{/if}}

      <button class="btn btn-primary btn-block">{{#if _id}}edit{{else}}add{{/if}} course</button>
    {{/with}}
    </form>
</div>
