<div class="container">
  <h1>{{course.title}}</h1>
  <hr class="my-4" />
  <p><span><img src="{{course.courseImg}}" alt="{{course.title}}s profile picture"></span>
</p>
  <p>dates: from {{course.startDate}} to {{course.endDate}}</p>

  <p>{{course.description}}</p>

  <p>{{course.leadTeacher}}</p>
  <p>{{course.TAs}}</p>
  <hr class="my-4" />
  <a href="/courses">Return</a>
</div>