<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>{{title}}</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous" />
  <link rel="stylesheet" href="/css/style.css" />
  <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBV-R9RTge16U6KdCLwOd-eS36XQJvYYL0"></script>
  <script src="/js/script.js"></script>
</head>
<body class="d-flex flex-column h-100">

    <main class="flex-shrink-0">
        <nav class="navbar navbar-expand-lg navbar-dark">
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item {{#if pageHome}}active{{/if}}">
                        <a class="nav-link" href="/">home</a>
                    </li>
                    <li class="nav-item {{#if pageBooks}}active{{/if}}">
                        <a class="nav-link" href="/users">users</a>
                    </li>
                    <li class="nav-item {{#if pageHome}}active{{/if}}">
                        <a class="nav-link" href="/courses">courses</a>
                    </li>
                </ul>

                <div class="mt-2 mt-md-0">
                    {{#if currentUser}}
                        Hey, {{ currentUser.name }} <span class="badge badge-secondary">{{ currentUser.role }}</span>
                        <a href="/logout" class="btn btn-danger btn-sm ml-2">logout</a>
                    {{else}}
                        <a href="/login" class="btn btn-success btn-sm">login</a>
                    {{/if}}
                </div>
            </div>
        </nav>

        <div id="app">
            {{{ body }}}
        </div>
    </main>

    <footer class="footer mt-auto py-3">
        <div class="container-fluid">
            Develop by Ironhack ;)
        </div>
    </footer>

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js" integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous"></script>
</body>
</html>