<div class="container">
  <h1>{{user.name}}</h1>
  {{#each user.author}}
  <span>{{lastName}}, {{name}}</span>
  {{/each}}
  <p>{{user.description}}</p>

  <hr class="my-4" />

  <h2>Add a review</h2>
  <form action="/reviews/add?user_id={{user._id}}" method="post">
    <div class="form-group">
      <label for="input-user">User:</label>
      <input class="form-control" type="text" id="input-user" name="user">
    </div>

    <div class="form-group">
      <label for="input-comments">Comments:</label>
      <textarea class="form-control" type="text" id="input-comments" name="comments"></textarea>
    </div>

    <button type="submit" class="btn btn-primary">ADD</button>
  </form>

  <hr class="my-4" />



  <hr class="my-4" />
  <a href="/users">Return</a>
</div>