<div class="container-fluid">
    <h1>{{#if user._id}}edit{{else}}add{{/if}} user</h1>

    <form id="form" action="/users/{{#if user._id}}edit{{else}}add{{/if}}" method="POST">
    {{#with user}}
      <input type="hidden" name="userId" value="{{_id}}">
      <div class="form-group">
        <label for="name">Name</label><br>
        <input type="text" class="form-control" name="name"
          placeholder="add users Name"
          value="{{name}}">        
      </div>

      <div class="form-group">
        <label for="profileImg">Profile Img</label><br>
        <input type="text" class="form-control" name="profileImg"
          placeholder="add URL for img"
          value="{{profileImg}}">        
          
      </div>

      <div class="form-group">
        <label for="description">Description</label><br>
        <input type="text" class="form-control" name="description"
          placeholder="add something about the user"
          value="{{description}}">
      </div>
      {{#unless facebookId}}
        <div class="form-group">
          <label for="username">Username</label><br>
          <input type="text" class="form-control" name="username"
            placeholder="add the username"
            value="{{username}}"
            >
        </div>

        <div class="form-group">
          <label for="password">Password</label><br>
          <input type="password" class="form-control" name="password"
            placeholder="enter password">
        </div>
      {{/unless}}

      {{#if_not_equal role 'STUDENT'}}
        <div class="form-group">
        <label for="role">Role</label><br>
        <select name="role" class="form-control">
          <option value="BOSS" {{#if_equal role "BOSS"}} selected {{/if_equal}}>BOSS</option>
          <option value="DEV" {{#if_equal role "DEV"}} selected {{/if_equal}}>DEV</option>
          <option value="TA" {{#if_equal role "TA"}} selected {{/if_equal}}>TA</option>
          <option value="STUDENT" {{#if_equal role "STUDENT"}} selected {{/if_equal}}>STUDENT</option>
          <option value="GUEST" {{#if_equal role "GUEST"}} selected {{/if_equal}}>GUEST</option>
        </select>
        </div>
      {{/if_not_equal}}

      {{#if msgError}}
        <div class="alert alert-danger">{{ msgError }}</div>
      {{/if}}

      <button class="btn btn-primary btn-block">{{#if _id}}edit{{else}}add{{/if}} user</button>
    {{/with}}
    </form>
</div>
